body{
background-color: rgb(rgb(29, 245, 83), rgb(2, 133, 93), rgba(189, 29, 1, 0.452));
font-family:'Gill Sans', 'Gill Sans M T', Calibri, 'Trebuchet MS', sans-serif
}
body{
    background-color: #8b04c0;
    color: rgb(0, 0, 255);
    background-image: url("zelda.jpg");
    background-size: cover;
}
h1{
    color: rgb(14, 2, 184);
}
td{
    background-color: 	 #0bf364;
}
th{
    background-color: rgb(32, 161, 32);
}
table{
    margin-left: 300px
}
td{
    font-family: 'PW Extended', sans-serif;
    font-size: 15px;
     color: rgb(182, 28, 28);
    text-align: center;
}
th{
    font-family: 'PW Extended', sans-serif;
    font-size: 15px;
     color: rgb(14, 0, 138);
    text-align: center;
}
